<div style="margin-top: 100px;text-align: center;">
  <%= image_tag "/qrcode/#{current_user.email}.svg", style: "padding: 10px;"%> <br>
</div>

<div class="col-md-12 text-center">
  <%= link_to @generated_url, @generated_url, { style:"width:70%;"} if user_signed_in?%>
</div>
<%= render "layouts/sharednav/nav" %>