<%= render "layouts/navbar_admin/navadmin"%>
<div class="main">
  <h1>Edit Item</h1>
  <%= form_for @item, url: admin_item_path, method: :patch do |f| %>
    <%= render partial: 'form', locals: {f: f, item: @item} %> <br>
    <%= f.submit "Update",class: 'btn btn-primary' %> <br><br>
  <% end %>
</div>
