<%= render "layouts/navbar_admin/navadmin"%>
<div class="main">
  <h1>Add new Banner</h1>
  <%= form_for @banner, url: admin_banners_path, method: :post do |f| %>
    <%= render partial: 'form', locals: {f: f, banner: @banner} %> <br>
    <%= f.submit "Save",class: 'btn btn-primary', style:'margin-buttom: 10px;' %><br><br>
  <% end %>
</div>