<style>

</style>

<br><br><br>
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner rounded mx-auto d-block" >
    <div class="carousel-item active">
      <img src="photo-1602526432604-029a709e131c.jpeg" class="rounded mx-auto d-block w-50" style="height: 480px;" alt="...">
    </div>
    <div class="carousel-item text-center">
      <img src="technology-aesthetic-flatlays-design.jpeg" class="rounded mx-auto d-block w-50" style="height: 480px;" alt="...">
    </div>
    <div class="carousel-item text-center">
      <img src="Top_view.jpeg" class="rounded mx-auto d-block w-50" style="height: 480px;" alt="...">
    </div>
  </div>
  <br>
  <div class="w-100 bg-dark text-white text-center" style="height: 36px;">
    <marquee class="news-content p-1 w-50 ">
      <p>Announcement: Raffle with coins! GACHA! Get you want!</p>
    </marquee>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
