<%= render "layouts/imgslider/imgslider" %>

<div class="text-center">
  <p>Winners Feedback</p>
  <% @winners.each do |winner| %>
    <div style="width: 10%;display: inline-block;">
      <%= image_tag winner.picture.url, class: "img-thumbnail ",style:" margin: 1px;" if winner.picture? %>
    </div>
  <% end %>
  <div style="width: 10%;display: inline-block;">
    <%= link_to 'More..', users_shares_path, class: 'btn mb-4', style:"width: 70px;"  %>
  </div>
</div> <br>
<div class="text-center" style="margin-bottom: 120px;">
  <p>Comming Soon</p>
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
</div>


<%= render "layouts/sharednav/nav" %>

