<%= render "layouts/imgslider/imgslider"%>
<div class="text-center">
  <p>Winners Feedback</p>
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
</div> <br>
<div class="text-center" style="margin-bottom: 120px;">
  <p>Comming Soon</p>
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
  <img src="f7ebd86ff10d7d738d975f227a591600.jpeg" class="rounded" style="height: 200px; width: 200px;">
</div>


<%= render "layouts/sharednav/nav" %>

